.wrap {
    position: absolute;
    bottom: 20px;
    width: 290px;
    height: 223px;
    margin-left: -144px;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    border: 3px solid #FF7A00;
}

.wrap .top {
    flex: 1;
    background: 'rgba(0, 0, 0, 0.5)'
}

.bottom {
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stick {
    width: 100%;
    height: 3px;
    background-color: #FF7A00;
}

.wrap .restaurantName {
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
    margin-bottom: 3px;
}

/* h3 {
    position: absolute;
} */

.bottom img {
    width: 118px;
}

.close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 15px;
    height: 15px;
    background: url('http://maps.gstatic.com/mapfiles/markers2/drag_cross_67_16.png');
}

.close:hover {
    cursor: pointer;
}

.nextPrevContainer {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

h3 {
    background-color: black;
    color: white;
    display: inline-block;
}

.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height: 22px;
    border-radius: 4px;
    padding: 0px 10px;
}

.plusButton {
    position: absolute;
    bottom: 35px;
    right: 2px;
    font-size: 2rem;
    cursor: pointer;
}

.toggle {
    position: absolute;
    top: -3px;
    min-width: 10px;
    height: 217px;
    left: calc(100% + 2.5px);
    color: black;
    background-color: white;
    overflow-y: auto;
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 5px;
}

.toggle div:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}