.wrap {
    position: absolute;
    bottom: 20px;
    width: 290px;
    height: 223px;
    margin-left: -144px;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    border: 3px solid #FF7A00;
}

.wrap .top {
    flex: 1;
}

.bottom {
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stick {
    width: 100%;
    height: 3px;
    background-color: #FF7A00;
}

.wrap .restaurantName {
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
    margin-bottom: 3px;
}

/* h3 {
    position: absolute;
} */

.bottom img {
    width: 118px;
}

.close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 15px;
    height: 15px;
    background: url('http://maps.gstatic.com/mapfiles/markers2/drag_cross_67_16.png');
}

.close:hover {
    cursor: pointer;
}

.nextPrevContainer {
    display: flex;
    justify-content: space-between;
}

h3 {
    background-color: black;
    color: white;
    display: inline-block;
}

.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height: 22px;
    border-radius: 4px;
    padding: 0px 10px;
}

/* 

.wrap .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}

.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

.info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.close:hover {
    cursor: pointer;
}

.info .body {
    position: relative;
    overflow: hidden;
}

.info .desc {
    position: relative;
    margin: 13px 0 0 90px;
    height: 75px;
}

.desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc .jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
}

.info .img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 73px;
    height: 71px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
}

.info:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
    color: #5085BB;
}

*/